.ResponsiveDialog {
  /* width: 100%; */
  width: fit-content;
  /* background-color: red; */
  display: flex;
}

@media (min-width: 1200px) {
  .ResponsiveDialog {
    /* max-width: 48%; */
  }
}

.close-btn {
  position: absolute !important;
  right: 1rem;
  top: 1rem;
  max-width: 48px;
  aspect-ratio: 1;
  z-index: 99;
  background-color: white !important;
}
